@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    /* font-family:'Quicksand', sans-serif; */
    font-size: 20px;
    background-color: black;  
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    color: goldenrod;
}

body p{
  font-family:  Arial, Verdana, Helvetica;
}


/* Header: h1 and nav */


.my-header{
    background-image: url('https://image.freepik.com/free-vector/gold-light-line-black-background_33869-1311.jpg');
    background-position: center;
    /* background-color: #8d6262; dala2 */
    color: #f5f5f5;
    padding: 20px;
    position: fixed;
    top:0;
    width: 100%;
    height: 48px;
    padding-bottom: 50px;

    
}
.my-header h1{
    font-size: 25px;
    float: left;
    font-family: 'Pacifico', cursive;
  }
 #sal {                  /*salmon picture */
    display: block;
    position: fixed;
    left: 646px;
    width: 263px;
    height: 78px;
}

.my-header nav{
    float: right;
    padding: 0 30px;
    position: static;
     /* top: 671px; */
}
.my-header nav ul li{
    display: inline-block;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Pacifico', cursive;

}
.my-header nav ul li :hover {
    background: #fee2b3;
    cursor: pointer;
  }
.my-header nav ul li a{
    text-decoration: none;
    color: #f5f5f5;
}



/* end of header  */

/* Intro */
/* .intro {
    /* background-color: #fee2b3; */
    /*background-image: url('../img/hi.gif');
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;*/
    /* padding-bottom: 2cm;  

} */

#pat{    /*salmoon picture*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
    margin-top: 2cm;
    position: relative;
}
 .fish 
    {
        position: absolute;
        top: 355px;
        left: 682px;
        transform: rotate(-90deg);
        height: 193px;
        width: 211px;
    } 
.pic3{ 
    background-image: url('https://i.pinimg.com/originals/9a/7d/82/9a7d82e52c3095a7f7cb2b7ff13e92d3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
    /* border: groove; */
    margin-top: 161px;
    margin-left: 70px;
    margin-right: 70px;
    /* background-color: rosybrown; */
} 
.snacks {
    width: 766px;
    height: 727px;
    margin-left: 7cm;
    margin-top: 5cm;
    margin-top: -70px;

  }

.intro h2{
    margin-top: 2cm;
    text-align: center;
    font-size: 50px;
    font-family: 'Pacifico', cursive;

}

.intro p{
    text-align: center;
    font-size: 25px;
    margin-top: 1px;
}


/* Info */
.infor{
    background-color: #e0d8d8;
    position: static;
    border: groove;
    margin-right: 20%;
    margin-left: 18%;
    margin-top: 3cm;
    color: black;

}
.infor p{
    text-align: center;
    font-size: 25px;
    margin-top: 1px;
    /* background-color: papayawhip; */
    width: 50%;
    margin: 0 auto;

}
.yellowpic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#history{
    font-size: 50px;
    text-shadow: #ca9e4d;
    font-weight: bold;


}

/*menu*/


#menu {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 28px;
    font-weight: bold;
    /* border: groove; */
    width: 550px;
  }

  #menu h3 {
    padding-top: 0px;
    text-align: center;
    color: black;
    font-size: 50px;
    background-color:rgba(63, 45, 3, 0.959) ;
    font-family: 'Pacifico', cursive;

  }

  #menu ul {
    list-style-image: url("img/smallcookbull.png");
    text-align: center;
    list-style: none;
    border: groove;
    margin-top: 10px;


  }
  
  #menu li {
    margin: 10px 0px 0px 0px;
    color: rgb(148, 115, 33);
  }

  /*breaker*/
  .break{
      border: groove;
      background-color: salmon;
      width: 100%;
  }
  
/*familey*/
.snacks1 {
    width: 70px;
    height: 70px;
    margin-top: 5cm;
    margin-top: 76px;
    /* left: 60px; */
    margin-left: 170px;
    margin-bottom: 14px;
    margin-right: 91px;

  }

.familey{
    margin-top: 50px;

}
.familey p{
    text-align: center;
    font-size: 25px;
}
.familey img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*merch*/

.merch {
    width: 200px;
    height: 150px;
    margin-left: 5cm;

  }
  .Merchandise p , .Merchandise h3{
      text-align: center;
  }

#div{
    margin-top: 1cm;
    text-align: center;

}

/*location*/
.location ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .location li{
      float: left;
  }
  
.location a {
    text-decoration: none;
    color: goldenrod;
    margin-top: 10px;
  }
  #down{
      margin-bottom: 3cm;
  }

  .loc {
    width: 200px;
    height: 150px;
    margin-left: 5cm;
text-align: center;
  }
  .loc p{
      float: left;
      text-align: center;
  }

  .merch1 {
    width: 15%;
    height:15%;
    margin-left: 1cm;

  }
  .loc ul li a{
      color: goldenrod;
  }
  
  #div2{
    margin-top: 1cm;
    text-align: center;

} 

/* sales page*/
.body2{
  background-color: rgb(100, 94, 59);
}
/*table*/
table {
    border: groove;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 3cm;
    font-family: Georgia, Times;

}
table, th, td {
  border: 1px solid black;
}
th {
    height: 50px;
  }
tr:hover {background-color: #f5f5f5;}

tr:nth-child(even) {background-color: #f2f2f2;}

/*Form*/

#addLocation{
  background-color: whitesmoke;
  color: black;
}


.footer{
    margin-top: 3cm;
    background-color: rgba(201, 145, 5, 0.747);
    color: black;
    height: auto;
    width: 100%;
    bottom: 0px;
}

  #ftr2{
    /* background-color: #8d6262; */
    text-align: center;
    font-size: 15px;
    
  }
  #ftr3{
    /* background-color: #8d6262; */
    text-align: left;
    font-size: 15px;

  }
  .footer li{
      list-style: none;
      text-align: left;
      text-decoration: none;
      font-size: 15px;
      
  }

  /* .footer ul{
      float: left;
  } */



/* 
  #sal:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
} */
